.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: 'Open Sans', sans-serif;
}

#info{
  color:black;
  background-color:rgba(255,255,255, 0.85);
}

.resultPage{
  color:black;
  background-color:rgba(255,255,255, 0.85);
  font-family: 'Open Sans', sans-serif;
  border: 1x solid black;
  border-radius: 8px;

}

@media (min-width:769px){

  #carousel {
    position:relative;
    height:100%;
  }
  #info{
    position:absolute;
    right:30px;
    top:250px;
    color:black;
    background-color:rgba(255,255,255, 0.85);
    z-index:10;
    width:40%;

  }
}

.wannabeContainer {
  border: 1x solid black;
  border-radius: 8px;
}